:root {
    --color1: #40547C;
    --color11: #06cf1330;
    --color2: #007AA3;
    --color22: #73fb8630;
    --color3: #00A2B2;
    --color33: #0c6c1230;
    --color4: #00C6A5;
    --color5: #8EE487;

    --dark: #2f2e41;
    --gray: #b3b3b3;
    --gray2: #f2f2f2;
}